@*@model DashboardViewModel*@
@{
    ViewBag.Title = "Home Page";
}
@section BreadCrumb{
    <li>
        <a href="#">Query Builder</a>
    </li>
}
@section style{

}
<h1 class="page-title">
    Dashboard
    <small>blank page layout</small>
</h1>

@section script{
    
}